<div
  id="page-<%= page.number %>"
  class="flex flex-col md:w-3/4 lg:w-2/4 justify-center items-center md:m-auto"
>
  <h4 class="font-bold text-2xl py-2 border-b w-full text-center">
    All Reviews
  </h4>
  <div class="flex w-full justify-center items-center pt-4">
    <input
      class="w-3/4 text-black rounded-lg p-1 focus:outline-none focus:ring focus:ring-sky-500"
      id="searchBar"
      placeholder="Search..."
      type="search"
      name="searchBar"
      hx-post="/reviews/search"
      hx-trigger="input changed delay:250ms"
      hx-target="main"
      hx-preserve="true"
      autocomplete="off"
      autofocus
    />
  </div>
  <% if (books.length <= 0) { %>
  <p class="mt-4">no reviews found...</p>
  <% } %>
  <ul class="w-full">
    <% books.forEach(book => { %>
    <li>
      <div
        class="rounded-lg bg-gray-800 grid grid-cols-3 my-8 p-4 max-sm:block"
      >
        <div class="col-start-1 h-48 flex items-center max-sm:justify-center">
          <% if (book.imageSrc == '') { %>
          <p>Image Not Available</p>
          <% } else { %>
          <img
            src="<%= book.imageSrc %>"
            alt="Cover image for <%= book.title %>"
            class="max-h-full"
          />
          <% } %>
        </div>
        <div
          class="sm:col-start-2 sm:col-span-2 max-sm:pb-3 max-sm:flex max-sm:justify-center max-sm:items-center max-sm:text-center max-sm:flex-col"
        >
          <p class="w-3/4 font-semibold text-sky-500 text-xl pb-1">
            <%= book.title %>
          </p>
          <p><%= book.author %></p>
          <div class="flex flex-row py-4">
            <% if((book.rating * 2) % 2 == 0) { %> <% for(let i = 0; i <
            ((book.rating * 2) / 2 ); i++) { %> <%- include('star') %> <% } %>
            <% } else { %> <% for(let i = 0; i <= (((book.rating * 2) - 1) / 2);
            i++) { %> <% if(i == ((book.rating * 2) - 1) / 2 || (book.rating *
            2) == 1) { %> <%- include('halfStar') %> <% } else { %> <%-
            include('star') %> <% } %> <% } %> <% } %>
          </div>
          <% if (book.username) { %>
          <p class="text-sm">review by: <%= book.username %></p>
          <% } %>
        </div>
        <p
          id="review-<%= book.review_id %>"
          class="hidden row-start-2 col-start-1 col-span-3 py-2 max-sm:px-6"
        >
          <%= book.review %>
        </p>
        <button
          class="flex flex-row items-center justify-center w-full bg-gray-700 rounded-md col-span-3 font-semibold p-1 mt-2"
          _="
                on click toggle .hidden on #review-<%= book.review_id %>
                on click toggle .max-sm:border-t on #review-<%= book.review_id %> 
                on click toggle .hidden on first in me 
                on click toggle .hidden on last in me"
        >
          <p id="showReview" class="block">show review</p>
          <p id="hideReview" class="hidden">hide review</p>
        </button>
      </div>
    </li>
    <% }) %>
  </ul>
  <div class="flex w-full mb-6">
    <% if (page.number > 1) { %>
    <button
      hx-get="/books/reviews/<%= page.number - 1 %>"
      hx-target="#main-div"
      class="mr-auto px-8 opacity-50 hover:opacity-100"
    >
      <svg
        width="48px"
        height="48px"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ffffff"
      >
        <g stroke-width="0" />
        <g stroke-linecap="round" stroke-linejoin="round" />
        <g>
          <path
            d="M16.1795 3.26875C15.7889 2.87823 15.1558 2.87823 14.7652 3.26875L8.12078 9.91322C6.94952 11.0845 6.94916 12.9833 8.11996 14.155L14.6903 20.7304C15.0808 21.121 15.714 21.121 16.1045 20.7304C16.495 20.3399 16.495 19.7067 16.1045 19.3162L9.53246 12.7442C9.14194 12.3536 9.14194 11.7205 9.53246 11.33L16.1795 4.68297C16.57 4.29244 16.57 3.65928 16.1795 3.26875Z"
            fill="#ffffff"
          />
        </g>
      </svg>
    </button>
    <% } %> <% if (page.total > page.number) { %>
    <button
      hx-get="/books/reviews/<%= page.number + 1 %>"
      hx-target="#main-div"
      class="ml-auto px-8 opacity-50 hover:opacity-100"
    >
      <svg
        width="48px"
        height="48px"
        viewBox="0 0 24 24"
        fill="none"
        transform="rotate(180)"
        stroke="#ffffff"
      >
        <g stroke-width="0" />
        <g stroke-linecap="round" stroke-linejoin="round" />
        <g>
          <path
            d="M16.1795 3.26875C15.7889 2.87823 15.1558 2.87823 14.7652 3.26875L8.12078 9.91322C6.94952 11.0845 6.94916 12.9833 8.11996 14.155L14.6903 20.7304C15.0808 21.121 15.714 21.121 16.1045 20.7304C16.495 20.3399 16.495 19.7067 16.1045 19.3162L9.53246 12.7442C9.14194 12.3536 9.14194 11.7205 9.53246 11.33L16.1795 4.68297C16.57 4.29244 16.57 3.65928 16.1795 3.26875Z"
            fill="#ffffff"
          />
        </g>
      </svg>
    </button>
    <% } %>
  </div>
</div>
