<div class="flex flex-col md:w-3/4 lg:w-2/4 justify-center items-center md:m-auto">
    <h4 class="font-bold text-4xl py-2 border-b w-full text-center">Reviews</h4>
    <div class="flex w-full justify-center items-center pt-4">
        <input class="w-3/4 text-black rounded-lg p-1 mt-2 mb-6 focus:outline-none focus:ring focus:ring-sky-500" id="search-bar" placeholder="Search..." type="search" name="search-bar" hx-post="/books/search" hx-trigger="input changed delay:500ms" hx-target="#main-div" hx-preserve="true" autocomplete="off" autofocus>
    </div>
    <ul class="w-full">
        <% books.forEach(book => { %>
        <li>
            <div class="rounded-lg bg-gray-800 grid grid-cols-3 my-8 p-4 max-sm:block">
                <div class="col-start-1 h-52 flex items-center max-sm:justify-center">
                    <% if (book.imageSrc == '') { %>
                        <p>Image Not Available</p>
                    <% } else { %>
                        <img src="<%= book.imageSrc %>" alt="">
                    <% } %>
                </div>
                <div class="sm:col-start-2 sm:col-span-2 max-sm:border-b max-sm:pb-3 max-sm:flex max-sm:justify-center max-sm:items-center max-sm:text-center max-sm:flex-col">
                    <p class="font-semibold text-sky-500 text-xl pb-1"><%= book.title %></p>
                    <p class=""><%= book.author %></p>
                    <div class="flex flex-row pt-4">
                        <% if((book.rating * 2) % 2 == 0) { %>
                            <% for(let i = 0; i < ((book.rating * 2) / 2 ); i++) { %>
                                <%- include('star') %>
                            <% } %>
                        <% } else { %>
                            <% for(let i = 0; i <= (((book.rating * 2) - 1) / 2); i++) { %>
                                <% if(i == ((book.rating * 2) - 1) / 2 || (book.rating * 2) == 1) { %>
                                    <%- include('halfStar') %>
                                <% } else { %>
                                    <%- include('star') %>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <p class="row-start-2 col-start-2 col-span-2 overflow-scroll py-2 max-sm:px-6"><%= book.review %></p>
            </div>
        </li>
        <% }) %>
    </ul>
</div>