<div
  class="flex flex-col md:w-3/4 lg:w-2/4 justify-center items-center md:m-auto"
>
  <h4 class="font-bold text-2xl py-2 border-b w-full text-center">
    My Reviews
  </h4>
  <% if (books.length <= 0) { %>
  <p class="mt-4">no reviews yet...</p>
  <% } %>
  <ul class="w-full">
    <% books.forEach(book => { %>
    <li>
      <div
        class="relative z-0 rounded-lg bg-gray-800 grid grid-cols-3 my-8 p-4 max-sm:block"
      >
        <button
          hx-delete="/reviews/<%= book.review_id %>"
          hx-confirm="Delete review?"
          hx-target="main"
          class="absolute top-4 right-2 opacity-35 hover:opacity-100 transition-all"
        >
          <svg width="36px" height="36px" viewBox="0 0 24 24" fill="none">
            <g stroke-width="0" />
            <g stroke-linecap="round" stroke-linejoin="round" />
            <g>
              <path
                d="M10 12L14 16M14 12L10 16M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6"
                stroke="#c60000"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
          </svg>
        </button>
        <div class="col-start-1 h-48 flex items-center max-sm:justify-center">
          <% if (book.imageSrc == '') { %>
          <p>Image Not Available</p>
          <% } else { %>
          <img
            src="<%= book.imageSrc %>"
            alt="Cover image for <%= book.title %>"
            class="max-h-full"
          />
          <% } %>
        </div>
        <div
          class="sm:col-start-2 sm:col-span-2 max-sm:pb-3 max-sm:flex max-sm:justify-center max-sm:items-center max-sm:text-center max-sm:flex-col"
        >
          <p class="w-3/4 font-semibold text-sky-500 text-xl pb-1">
            <%= book.title %>
          </p>
          <p><%= book.author %></p>
          <div class="flex flex-row py-4">
            <% if((book.rating * 2) % 2 == 0) { %> <% for(let i = 0; i <
            ((book.rating * 2) / 2 ); i++) { %> <%- include('star') %> <% } %>
            <% } else { %> <% for(let i = 0; i <= (((book.rating * 2) - 1) / 2);
            i++) { %> <% if(i == ((book.rating * 2) - 1) / 2 || (book.rating *
            2) == 1) { %> <%- include('halfStar') %> <% } else { %> <%-
            include('star') %> <% } %> <% } %> <% } %>
          </div>
          <% if (book.username) { %>
          <p class="text-sm">review by: <%= book.username %></p>
          <% } %>
        </div>
        <p
          id="review-<%= book.review_id %>"
          class="hidden row-start-2 col-start-1 col-span-3 py-2 max-sm:px-6"
        >
          <%= book.review %>
        </p>
        <button
          class="flex flex-row items-center justify-center w-full bg-gray-700 rounded-md col-span-3 font-semibold p-1 mt-2"
          _="
                on click toggle .hidden on #review-<%= book.review_id %>
                on click toggle .max-sm:border-t on #review-<%= book.review_id %> 
                on click toggle .hidden on first in me 
                on click toggle .hidden on last in me"
        >
          <p id="showReview" class="block">show review</p>
          <p id="hideReview" class="hidden">hide review</p>
        </button>
      </div>
    </li>
    <% }) %>
  </ul>
  <div class="flex w-full mb-6">
    <% if (page.number > 1) { %>
    <button
      hx-push-url="true"
      hx-get="/reviews/myreviews?page=<%= page.number - 1 %>"
      hx-target="body"
      class="mr-auto px-8 opacity-50 hover:opacity-100"
    >
      <svg
        width="48px"
        height="48px"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ffffff"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0" />
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <g id="SVGRepo_iconCarrier">
          <path
            d="M16.1795 3.26875C15.7889 2.87823 15.1558 2.87823 14.7652 3.26875L8.12078 9.91322C6.94952 11.0845 6.94916 12.9833 8.11996 14.155L14.6903 20.7304C15.0808 21.121 15.714 21.121 16.1045 20.7304C16.495 20.3399 16.495 19.7067 16.1045 19.3162L9.53246 12.7442C9.14194 12.3536 9.14194 11.7205 9.53246 11.33L16.1795 4.68297C16.57 4.29244 16.57 3.65928 16.1795 3.26875Z"
            fill="#ffffff"
          />
        </g>
      </svg>
    </button>
    <% } %> <% if (page.total > page.number) { %>
    <button
      hx-push-url="true"
      hx-get="/reviews/myreviews?page=<%= page.number + 1 %>"
      hx-target="body"
      class="ml-auto px-8 opacity-50 hover:opacity-100"
    >
      <svg
        width="48px"
        height="48px"
        viewBox="0 0 24 24"
        fill="none"
        transform="rotate(180)"
        stroke="#ffffff"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0" />
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <g id="SVGRepo_iconCarrier">
          <path
            d="M16.1795 3.26875C15.7889 2.87823 15.1558 2.87823 14.7652 3.26875L8.12078 9.91322C6.94952 11.0845 6.94916 12.9833 8.11996 14.155L14.6903 20.7304C15.0808 21.121 15.714 21.121 16.1045 20.7304C16.495 20.3399 16.495 19.7067 16.1045 19.3162L9.53246 12.7442C9.14194 12.3536 9.14194 11.7205 9.53246 11.33L16.1795 4.68297C16.57 4.29244 16.57 3.65928 16.1795 3.26875Z"
            fill="#ffffff"
          />
        </g>
      </svg>
    </button>
    <% } %>
  </div>
</div>
